* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.wapper {
    background-color: #fff;
}

.cart-page-header {
    background-color: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
}

.cart-page-logo {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.cart-page-logo>a {
    width: 10rem;
    color: rgb(238, 77, 45);
}

.cart-page-logo>a>img {
    width: 100%;
}

.cart-page-logo>span {
    margin-left: 0.9375rem;
    border-left: 0.0625rem solid #ee4d2d;
    color: #ee4d2d;
    font-size: 1.25rem;
    line-height: 1.875rem;
    height: 1.875rem;
    padding-left: 0.9375rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.cart-page-search {
    width: 38.8125rem;
    position: relative;
    align-items: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.payment-header {
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
}

.payment-header>.pm {
    height: 3px;
    width: 100%;
    background-position-x: -30px;
    background-size: 116px 3px;
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
}

.delivery-address {
    text-transform: capitalize;
    font-size: 1.3rem;
    color: rgb(238, 77, 45);
    padding: 30px 25px 0 25px;
}

.payment_delivery-address {
    padding: 20px 25px 30px 25px;
}

.payment_delivery-address>.delivery-address>i {
    color: rgb(238, 77, 45);
    font-size: 1.3rem;
}

.payment_name,
.payment_phone {
    text-transform: capitalize;
    font-weight: 600;
}

.payment_change,
.payment_delivery-address>span {
    text-align: center;
    text-transform: capitalize;
    font-size: .9rem;
    color: rgb(155, 155, 155);
}

.payment_change {
    cursor: pointer;
    color: blue;
}

.add-address {
    display: none;
    transition: ease-in .3s;
}

.add_address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px 10px 25px;
}

.add_address>button {
    border: none;
    padding: 10px 20px;
    font-size: .8rem;
    text-transform: capitalize;
    border-radius: 3px;
    cursor: pointer;
}

.add_address>.delivery-address {
    padding: 0;
}

.change-address {
    padding: 20px 25px 10px 25px;
}

.change-address>ul>li {
    list-style: none;
    padding: 0 0 20px 0;
}

.change-address>ul>li>input {
    display: none;
}

.check-dots {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid rgb(196, 196, 196);
}

.active-check-dots {
    border-width: 0;
    border: 1px solid #ee4d2d;
    background-color: #ee4d2d;
}

.change-address>ul>li>.md {
    font-size: .8rem;
    opacity: .6;
}

.change-address>ul>li>span {
    text-align: right;
}

.change-address>ul>li>span>button {
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 1.2rem;
    color: blue;
}

.back-complete {
    display: flex;
    padding: 0 25px 20px 25px;
}

.back-complete button {
    border: none;
    padding: 10px 20px;
    text-transform: capitalize;
    cursor: pointer;
}

.back-complete>.complete>button {
    background-color: rgb(238, 77, 45);
    color: #fff;
    margin-right: 10px;
}

.cart-main {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px 25px;
}

.cart_products-header>.cart-pr {
    font-size: 1.2rem;
}

.cart_products-header>.cart-pr_unit-price,
.cart_products-header>.cart-pr_quantity {
    font-size: 1rem;
    color: rgb(150, 150, 150);
    text-align: center;
}

.unit-price>del {
    font-size: .8rem;
    margin-right: 10px;
}

.cart_products-header>.cart-pr_into-money {
    text-align: right;
    font-size: 1rem;
    color: rgb(150, 150, 150);
}

.cart-pr_show {
    max-width: 1200px;
    margin: 10px auto 0 auto;
    background-color: #fff;
    padding: 20px 25px;
}

.cart-pr_show>.cart-pr_shop {
    border-bottom: 1px solid rgb(144, 144, 144, .1);
    padding-bottom: 10px;
}

.cart-pr_show>.cart-pr_shop>i {
    font-size: 1.2rem;
    margin-right: 10px;
    color: rgb(238, 77, 45);
}

.cart-pr_show-pr {
    margin-top: 5px;
}

.cart-pr_image-name {
    display: flex;
}

.cart-pr_image {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
}

.cart-pr_image>img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-pr_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-pr_name>.name,
.cart-pr_name>.type {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding: 0 10px;
}

.cart-pr_name>.type {
    width: 40%;
}

.unit-price,
.quantityy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.into-money {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(238, 77, 45);
}

.use-coins {
    max-width: 1200px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px 25px;
}

.usc-box>.use>span {
    font-size: .8rem;
    color: rgb(150, 150, 150);
    margin-left: 10px;
}

.usc-box>.use>i {
    color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 166, 0);
    padding: 5px 8px;
    border-radius: 100%;
    margin-right: 10px;
}

.usc-box,
.coins>label {
    display: flex;
    justify-content: space-between;
}

.coins>label {
    align-items: center;
}

.coins>input {
    display: none;
}

.check__coin {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid rgb(196, 196, 196);
    position: relative;
    overflow: hidden;
}

.checkCoin {
    background-color: rgb(238, 77, 45);
}

.checkCoin::before {
    position: absolute;
    content: "";
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(40deg);
    right: 4px;
    top: 0px;
    width: 5px;
    height: 8px;
}

.total-money-oder {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fffefb;
    border-top: 1px solid rgba(228, 228, 228, 0.4);
    text-align: right;
}

.info-money {
    margin: 20px 35px;
    font-size: .9rem;
    color: rgb(155, 155, 155);
}

.total-amount,
.shope-coin,
.total-money {
    display: flex;
    justify-content: space-between;
    width: 350px;
    align-items: center;
}

.shope-coin {
    margin: 20px 0;
    display: none;
}

.total-money>span {
    font-size: 2rem !important;
    color: rgb(238, 77, 45);
}

.oder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(228, 228, 228, 0.4);
    padding: 10px 25px;
}

.oder>span {
    font-size: .9rem;
    color: rgb(155, 155, 155);
}

.oder>button {
    margin-top: 20px;
    border: 0;
    padding: 15px 20px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(238, 77, 45);
    font-size: 1.2rem;
}

.shopee-popup-form__header {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 10000;
    transform: translateY(-90%);
    transition: ease-in .3s;
    background-color: rgba(0, 0, 0, 0.4);
}

.active-shopee-popup-form__header {
    transform: translateY(0);
    opacity: 1;
    transition: ease-in .3s;
    visibility: visible;
}

.form__header {
    position: absolute;
    left: 32%;
    width: 500px;
    top: 20%;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 2px;
}

.form__header>.shopee-popup-form__title {
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: rgb(238, 77, 45);
}

.name-phone {
    display: flex;
}

.name-phone>.shop_name {
    margin-right: 5px;
    width: 100%;
}

.name-phone>.shop_name>input {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(220, 220, 220);
}

.name-phone>.shop_name>input:focus,
.name-phone>.shop_phone>input:focus,
.shop_address>input:focus,
.shop_specific-address>input:focus {
    outline: none;
}

.name-phone>.shop_phone {
    width: 100%;
    margin-left: 5px;
}

.name-phone>.shop_phone>input {
    width: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(220, 220, 220);
}

.shop_address {
    width: 100%;
    position: relative;
}

.shop_address>input {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid rgb(220, 220, 220);
}

.shop_address>.shop_address-icon {
    position: absolute;
    right: 10px;
    top: 30px;
    display: flex;
}

.shop_address>.shop_address-icon>i {
    margin: 0 5px;
}

.shop_address>.shop_address-icon>i:first-child {
    display: none;
    cursor: pointer;
}

.shop_specific-address {
    width: 100%;
    position: relative;
}

.shop_specific-address>input {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(220, 220, 220);
}

.shop_specific-address>span {
    position: absolute;
    left: 11px;
    top: -5px;
    padding: 0 3px;
    background-color: #fff;
    font-size: .6rem;
    color: rgb(160, 160, 160);
    text-transform: capitalize;
}

.shopee-popup-form__footer {
    text-align: right;
    margin: 20px 0 0 0;
}

.shopee-popup-form__footer>button:first-child {
    background-color: #fff;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 20px;
}

.shopee-popup-form__footer>button:last-child {
    border: none;
    background-color: rgb(238, 77, 45);
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.city-district-ward {
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    right: 0;
    height: 300px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1;
    border: 1px solid rgb(220, 220, 220)
}

.city-district-ward::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.city-district-ward>.city-district-ward_header>ul {
    display: flex;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.city-district-ward_header {
    position: sticky;
    top: -2px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    margin-top: -2px;
}

.city-district-ward ul>li {
    flex: 1;
    list-style: none;
    position: relative;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.active-city-district-ward {
    display: block;
}

.active-city-district-ward::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -1px;
    left: 0;
    background-color: rgb(238, 77, 45);
}

.city-district-ward_show>ul>li {
    display: none;
}

.city-district-ward_show .city-show>option {
    padding: 10px;
    cursor: pointer;
}

.city-district-ward_show .city-show>option:hover {
    color: rgb(238, 77, 45);
}

.active-city-district-ward_show {
    display: block !important;
    text-align: left !important;
}

.city-district-ward_show .district-show>option {
    padding: 10px;
    cursor: pointer;
}

.city-district-ward_show .district-show>option:hover {
    color: rgb(238, 77, 45);
}

.city-district-ward_show .ward-show>option {
    padding: 10px;
    cursor: pointer;
}

.city-district-ward_show .ward-show>option:hover {
    color: rgb(238, 77, 45);
}