* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.seller-channel {
    background-color: #f7f7f7;
    height: 100vh;
}

.wapper {
    background-color: #fff;
}

.cart-page-header {
    background-color: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
}

.cart-page-logo {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.cart-page-logo>a {
    width: 10rem;
    color: rgb(238, 77, 45);
}

.cart-page-logo>a>img {
    width: 100%;
}

.cart-page-logo>span {
    margin-left: 0.9375rem;
    border-left: 0.0625rem solid #ee4d2d;
    color: #ee4d2d;
    font-size: 1.25rem;
    line-height: 1.875rem;
    height: 1.875rem;
    padding-left: 0.9375rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.cart-page-search {
    width: 38.8125rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.cart-page-search>button {
    background-color: #fff;
    border: 0;
    height: 80%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 5px 10px;
    color: #ee4d2d;
}

.account-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-container>.col-8 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.left {
    width: 400px;
}

.account-container>.col-8 .title {
    font-size: 32px;
    font-weight: 500;
    color: #ee4d2d;
    line-height: 57px;
    font-weight: 600;
}

.account-container>.col-8 .subtitle {
    margin: 10px 0;
}

.account-container>.col-8 .image {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-seller-live-sg/rootpages/static/modules/account/image/login-img.9347138.png);
}

.account-container>.col-4 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.account-container>.col-4>form {
    width: 400px;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    padding: 30px 10px 30px 10px;
}

.account-container>.col-4>form>h3 {
    color: #ee4d2d;
}

.account-container>.col-4>form>button {
    margin: 20px 0;
    color: #fff;
    background-color: #ee4d2d;
    border: 0;
    border-radius: 2px;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

.account-container>.col-4>form>a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}