.main {
    background-color: #fff;
    padding-top: 20px;
}

.shop-page {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.shop-page_info {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section-salesman {
    position: relative;
    width: 40%;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    overflow: hidden;
    height: 8.375rem;
}

.section-salesman>img {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.section-salesman_background {
    padding: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.section-salesman_portrait {
    display: flex;
}

.section-salesman_avatar {
    width: 5rem;
    height: 4rem;
    position: relative;
    overflow: hidden;
}

.section-salesman_avatar>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    border-radius: 100%;
}

.section-salesman_info {
    margin-left: 20px;
    margin-top: 10px;
}

.section-salesman_info>h3 {
    color: rgb(241, 241, 241);
    font-size: 1rem;
    margin-right: 10px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.section-salesman_info>p {
    margin-top: 5px;
    font-size: .8rem;
    color: rgb(201, 201, 201);
}

.section-salesman_buttons {
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.follow-page,
.chat-page {
    width: 50%;
    background: none;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px;
    color: white;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.section-salesman_info-list {
    margin: 10px 10px 10px 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.section-salesman_info-list_r1 {
    flex: 1.5;
}

.section-salesman_info-list_r2 {
    flex: 1;
}

.section-salesman_name-shop,
.section-salesman_category,
.section-salesman_products-list,
.section-salesman_user-follow,
.section-salesman_valuable,
.admin-shop {
    text-transform: capitalize;
    color: rgb(128, 128, 128);
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: .9rem;
}

.section-salesman_name-shop>i,
.section-salesman_category>i,
.section-salesman_products-list>i,
.section-salesman_user-follow>i,
.section-salesman_valuable>i,
.admin-shop>i {
    font-size: 1rem;
    margin-right: 7px;
}

.section-salesman_name-shop>span,
.section-salesman_category>span,
.section-salesman_products-list>span,
.section-salesman_user-follow>span,
.section-salesman_valuable>span {
    color: rgb(238, 77, 45);
}

.admin-shop>a {
    text-decoration: none;
}


/* shope-page-menu */

.shope-page-menu {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.navbar>ul>li {
    display: inline-block;
    padding: 0px 25px 15px 25px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 15px 0 0 0px;
    position: relative;
    list-style: none;
}

.navbar>ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.navbar>ul>li>a:hover {
    color: rgb(238, 77, 45);
}

.navbar>ul>li:nth-child(-n+3) {
    text-transform: uppercase;
}

.navbar>ul>li:nth-child(1)::before {
    content: " ";
    background-color: rgb(238, 77, 45);
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    right: 0;
}

.more-menu {
    display: inline-block;
    padding: 5px 15px 5px 30px;
    margin: 15px 0 0 0;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    list-style: none;
    border-left: 1px solid rgb(221, 221, 221);
}

.more-menu:hover i {
    transform: rotate(180deg);
    position: absolute;
    top: 2px;
}

.more-menu>i {
    position: absolute;
    top: 10px;
    right: 0;
}

.more-menu>ul {
    background-color: white;
    position: absolute;
    top: 35px;
    display: none;
    right: 0;
    width: 15rem;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    z-index: 100;
}

.more-menu>ul::before {
    content: " ";
    border-bottom: 9px solid rgb(220, 220, 220);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    right: 20.5px;
    top: -10px;
    width: 0;
    height: 0;
}

.more-menu>ul::after {
    content: " ";
    border-bottom: 9px solid #fff;
    border-left: 9.5px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    right: 21px;
    top: -9px;
    width: 0;
    height: 0;
}

.more-menu>ul>li {
    margin: 20px 0;
    padding: 0 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.more-menu>ul>li:hover {
    color: rgb(238, 77, 45);
}

.more-menu:hover ul {
    display: block;
}


/* container */

.container {
    max-width: 1200px;
    margin: 20px auto 0 auto;
    background-color: white;
}

.container>ul>li {
    list-style: none;
    padding: 10px;
}

.slides-page {
    overflow: hidden;
    width: 100%;
    height: 500px;
    position: relative;
}

.slider {
    /* khi nào kích thươc tùy theo có bao ảnh dùng js 
     */
    transform: translateX(0px);
    display: flex;
}

.slider>a {
    padding: 0;
    margin: 0;
}

.slider>a>img {
    width: 1200px;
    height: 500px;
}

.slides-page>button {
    position: absolute;
    top: 40%;
    background-color: rgb(128, 128, 128, .3);
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 20px 10px;
    cursor: pointer;
}

.slides-page>button:nth-child(2) {
    right: 0;
}

.images-dots {
    position: absolute;
    bottom: 0;
    left: 45%;
}

.images-dots>ul {
    list-style: none;
}

.images-dots>ul>li {
    display: inline-block;
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(201, 201, 201);
    border-radius: 100%;
    padding: 5px;
    width: 1rem;
    cursor: pointer;
    height: 1rem;
}

.acteive-dots {
    background-color: rgb(238, 77, 45) !important;
}


/* shop-products-view */

.shop-products-view,
.shop-info {
    max-width: 1200px;
    margin: 50px auto 0 auto;
    background-color: white;
}

.shop-products-view>h4 {
    text-transform: uppercase;
    padding: 20px 0 20px 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin-bottom: 10px;
}

.shop-products-view>h4>i {
    font-size: 1.2rem;
    margin: 0 10px 0 10px;
}

.shop-products-view>.products-title_show .products-item_content {
    margin-top: 5px;
}

.shop-info>h4 {
    padding: 20px 0 20px 30px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(220, 220, 220);
    font-size: 1.2rem;
}

.shop-info>span {
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.625rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}


/* products */

.products-title {
    line-height: 40px;
    border-bottom: 1px solid rgba(155, 155, 155, 0.5);
    position: sticky;
    top: 60px;
    z-index: 999;
    background-color: white;
}

.products-title ul li {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.2rem;
    width: 200px;
    text-align: center;
    color: #ee4d2d;
    list-style: none;
    cursor: pointer;
    padding: 7px 20px;
}

.products-img {
    position: relative;
    transition: ease-in .3s;
    height: 220px;
}

.products-show {
    margin-top: 10px;
}

.products-show>ul>li {
    list-style: none;
    display: none;
    overflow: hidden;
}

.products-title_show>ul>li {
    list-style: none;
    position: relative;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 0 1px black;
    height: 300px;
    overflow: hidden;
}

.products-title_show>ul>li:hover {
    border: 1px solid rgb(238, 77, 45, .6);
    box-shadow: 0 0 3px rgb(238, 77, 45);
}

.products-title_show>ul>li>a {
    text-decoration: none;
    width: 100%;
}

.products-title_show ul li a img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    object-fit: contain;
}

.products-item_content {
    padding: 5px 5px;
}

.products_name {
    font-size: 1rem;
    color: black;
    text-transform: capitalize;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: .3s;
    overflow: hidden;
}

.products-price {
    display: flex;
    transition: .3s;
    justify-content: space-between;
}

.products-price span:nth-child(1) {
    color: #ee4d2d;
    font-size: 1rem;
    padding: 10px 0 5px 0;
    font-weight: 500;
}

.products-price span:nth-child(2) {
    font-size: .7rem;
    padding: 13px 0 0px 0;
    text-transform: capitalize;
    color: black;
    opacity: .7;
}

.addToCart,
.addToCartPro {
    width: 100%;
    background-color: rgb(107, 182, 60);
    line-height: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: .2s;
    text-transform: capitalize;
    margin-top: 5px;
}

.addToCart:hover,
.addToCartPro:hover {
    background-color: rgb(238, 77, 45);
    color: white;
}

.products-title_show>ul>li>a:hover .products-img img,
.show-products>ul>li>a:hover .imager-products img {
    transform: translateY(-10%) scale(.8, .8);
    z-index: 11;
    transition: .3s;
}

.products-title_show>ul>li>a:hover .products_name,
.products-title_show>ul>li>a:hover .products-price {
    transform: translateY(-80%);
    transition: ease-in .3s;
}

.show-products>ul>li>a:hover .tt-products {
    transform: translateY(-60%);
    transition: ease-in .3s;
}

.products-title_show>ul>li>a:hover .addToCart {
    transform: translateY(-115%);
    transition: ease-in .3s;
}

.show-products>ul>li>a:hover .addToCartPro {
    transform: translateY(-110%);
    transition: ease-in .3s;
}

.btn-seemore,
.btn-seemore-even {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.btn-seemore button,
.btn-seemore-even button {
    min-width: 24.375rem;
    height: 2.5rem;
    font-size: .9rem;
    text-transform: capitalize;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .7;
    margin-bottom: 20px;
    background-color: rgb(182, 182, 182);
}

.btn-seemore button:hover,
.btn-seemore-even:hover {
    text-decoration: underline;
}


/* .pro_show {
    display: block !important;
} */


/* .activePro {
    background-color: rgb(238, 77, 45);
    color: white !important;
} */

.slae-pro {
    font-weight: 00;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 13;
    text-transform: uppercase;
    text-align: center;
    width: 40px;
    background-color: rgba(255, 212, 36, .9);
    padding: 5px;
    font-size: .8rem;
    color: #fff;
}

.slae-pro>span {
    color: rgb(238, 77, 45);
}

.slae-pro::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -10px;
    position: absolute;
    border-color: transparent rgba(255, 212, 36, .9);
    border-style: solid;
    border-width: 0 20px 10px;
}